body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:428px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1257 {
  position:absolute;
  left:94px;
  top:80px;
  width:905px;
  height:428px;
}
#u1258 {
  position:absolute;
  left:2px;
  top:206px;
  width:901px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259 {
  position:absolute;
  left:147px;
  top:192px;
  width:789px;
  height:235px;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1260 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1261 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1262 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1263 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1264 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1265 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u1266 {
  position:absolute;
  left:300px;
  top:0px;
  width:115px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1267 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u1268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u1268 {
  position:absolute;
  left:415px;
  top:0px;
  width:85px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1269 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u1270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1270 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1271 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1272 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1273 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u1274 {
  position:absolute;
  left:700px;
  top:0px;
  width:84px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1275 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1276 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1277 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1278 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1279 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1280 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1281 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u1282 {
  position:absolute;
  left:300px;
  top:30px;
  width:115px;
  height:40px;
}
#u1283 {
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u1284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u1284 {
  position:absolute;
  left:415px;
  top:30px;
  width:85px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1285 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u1286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1286 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:40px;
}
#u1287 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1288 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1289 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
}
#u1290 {
  position:absolute;
  left:700px;
  top:30px;
  width:84px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF9999;
}
#u1291 {
  position:absolute;
  left:2px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u1292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1292 {
  position:absolute;
  left:0px;
  top:70px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1293 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1294 {
  position:absolute;
  left:100px;
  top:70px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1295 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1296 {
  position:absolute;
  left:200px;
  top:70px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1297 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u1298 {
  position:absolute;
  left:300px;
  top:70px;
  width:115px;
  height:40px;
}
#u1299 {
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u1300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u1300 {
  position:absolute;
  left:415px;
  top:70px;
  width:85px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1301 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1302 {
  position:absolute;
  left:500px;
  top:70px;
  width:100px;
  height:40px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1304 {
  position:absolute;
  left:600px;
  top:70px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1305 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
}
#u1306 {
  position:absolute;
  left:700px;
  top:70px;
  width:84px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF9999;
}
#u1307 {
  position:absolute;
  left:2px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1308 {
  position:absolute;
  left:0px;
  top:110px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1309 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1310 {
  position:absolute;
  left:100px;
  top:110px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1311 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1312 {
  position:absolute;
  left:200px;
  top:110px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1313 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u1314 {
  position:absolute;
  left:300px;
  top:110px;
  width:115px;
  height:40px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u1316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u1316 {
  position:absolute;
  left:415px;
  top:110px;
  width:85px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1317 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u1318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1318 {
  position:absolute;
  left:500px;
  top:110px;
  width:100px;
  height:40px;
}
#u1319 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1320 {
  position:absolute;
  left:600px;
  top:110px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1321 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
}
#u1322 {
  position:absolute;
  left:700px;
  top:110px;
  width:84px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF9999;
}
#u1323 {
  position:absolute;
  left:2px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u1324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1324 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1325 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1326 {
  position:absolute;
  left:100px;
  top:150px;
  width:100px;
  height:40px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1328 {
  position:absolute;
  left:200px;
  top:150px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1329 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u1330 {
  position:absolute;
  left:300px;
  top:150px;
  width:115px;
  height:40px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u1332 {
  position:absolute;
  left:415px;
  top:150px;
  width:85px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1333 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u1334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1334 {
  position:absolute;
  left:500px;
  top:150px;
  width:100px;
  height:40px;
}
#u1335 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1336 {
  position:absolute;
  left:600px;
  top:150px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1337 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
}
#u1338 {
  position:absolute;
  left:700px;
  top:150px;
  width:84px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF9999;
}
#u1339 {
  position:absolute;
  left:2px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1340 {
  position:absolute;
  left:0px;
  top:190px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1341 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1342 {
  position:absolute;
  left:100px;
  top:190px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1343 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1344 {
  position:absolute;
  left:200px;
  top:190px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1345 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u1346 {
  position:absolute;
  left:300px;
  top:190px;
  width:115px;
  height:40px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u1348 {
  position:absolute;
  left:415px;
  top:190px;
  width:85px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1349 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1350 {
  position:absolute;
  left:500px;
  top:190px;
  width:100px;
  height:40px;
}
#u1351 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1352 {
  position:absolute;
  left:600px;
  top:190px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1353 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
}
#u1354 {
  position:absolute;
  left:700px;
  top:190px;
  width:84px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF9999;
}
#u1355 {
  position:absolute;
  left:2px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u1356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:73px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1356 {
  position:absolute;
  left:94px;
  top:80px;
  width:905px;
  height:73px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:22px;
  width:901px;
  word-wrap:break-word;
}
#u1358 {
  position:absolute;
  left:207px;
  top:157px;
  width:200px;
  height:25px;
}
#u1358_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1359 {
  position:absolute;
  left:162px;
  top:162px;
  width:29px;
  height:20px;
}
#u1360 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1361 {
  position:absolute;
  left:430px;
  top:157px;
  width:52px;
  height:25px;
}
#u1362 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u1363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1363 {
  position:absolute;
  left:848px;
  top:454px;
  width:83px;
  height:39px;
}
#u1364 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u1365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:62px;
}
#u1365 {
  position:absolute;
  left:862px;
  top:87px;
  width:69px;
  height:62px;
}
#u1366 {
  position:absolute;
  left:2px;
  top:23px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u1367 {
  position:absolute;
  left:784px;
  top:276px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1368 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1369 {
  position:absolute;
  left:1052px;
  top:238px;
  width:168px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u1371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:55px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1371 {
  position:absolute;
  left:1055px;
  top:98px;
  width:161px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1372 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u1373_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:89px;
  height:31px;
}
#u1373 {
  position:absolute;
  left:981px;
  top:123px;
  width:74px;
  height:5px;
}
#u1374 {
  position:absolute;
  left:2px;
  top:-6px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:138px;
  height:31px;
}
#u1375 {
  position:absolute;
  left:925px;
  top:247px;
  width:123px;
  height:5px;
}
#u1376 {
  position:absolute;
  left:2px;
  top:-6px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
